{% extends 'portalpages/base_x.html' %}

{% block title %} {{ title }} {% endblock title %}


{% block css %}
  <style>
    p {
      text-align: justify;
    }
  </style>
{% endblock css %}


{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome! {{test}}</h1>
        <p>Mauris hendrerit, nisl in pellentesque iaculis, quam arcu auctor justo, vel suscipit sem nunc quis mi. Pellentesque eu justo dolor. In non mi in diam dapibus ultricies. Nam dui ipsum, egestas a eros eu, vulputate rutrum laoreet.</p>
    </div>
  </div>

  <!-- Content -->
  <div class="container">
    <div class="row">

      <!-- Opening Representative -->
      <div class="col-md-4">
        <center><h2>Opening</h2><h2>Representative</h2></center>
        <p>Ut molestie id lectus vitae finibus. Vivamus diam erat, rhoncus id feugiat mollis, congue id ligula. Aliquam erat volutpat. Quisque aliquam ullamcorper hendrerit. Duis ultricies, augue et vehicula elementum, ante quam interdum enim, at congue vel.</p>
        <p class="mt-4">
          <a class="btn btn-secondary my-1" href="{% url 'portalpages:representative' %}" role="button">View details &raquo;</a>
          <a class="btn btn-primary my-1" href="{% url 'transactions:renewal_type_representative' %}" role="button">Submit Online Form</a>
        </p>
      </div>

      <!-- Appointing Agent Distributor -->
      <div class="col-md-4">
        <center><h2>Appointing</h2><h2>Agent Distributor</h2></center>
        <p>Mauris orci dui, ultricies eget mi sed, pharetra pharetra quam. Ut euismod, magna vel maximus lobortis, eros tellus varius justo, vel malesuada lorem nunc quis ante. Ut pharetra metus massa, sed mollis nisi pellentesque sit amet. Maecenas ac egestas sed. </p>
        <p class="mt-4">
          <a class="btn btn-secondary  my-1" href="{% url 'portalpages:agentdistributor' %}" role="button">View details &raquo;</a>
          <a class="btn btn-primary  my-1" href="{% url 'transactions:renewal_type_agentdistributor' %}" role="button">Submit Online Form</a>
        </p>
      </div>

      <!-- Appointing Franchise -->
      <div class="col-md-4">
        <center><h2>Appointing</h2><h2>Franchise</h2></center>
        <p>Aliquam in est id purus porta imperdiet. Duis rhoncus tincidunt pellentesque. Nam ut rutrum dolor. Pellentesque sed sapien magna. Etiam id eros semper, condimentum augue non, euismod magna. Ut non nulla at ligula rhoncus sollicitudin. Integer imperdiet erat nec neque dapibus, vel ac. </p>
        <p class="mt-4">
          <a class="btn btn-secondary  my-1" href="{% url 'portalpages:franchise' %}" role="button">View details &raquo;</a>
          <a class="btn btn-primary  my-1" href="{% url 'transactions:renewal_type_franchise' %}" role="button">Submit Online Form</a>
        </p>
      </div>

    </div>

    <hr>

  </div>

  {% include 'messages.html'%}

  <!-- /container -->

{% endblock content %}


{% block js %}
  {{block.super}}

  <script>
    $(document).ready(function(){

      // Nav Active
      $('#nav-home').addClass('active')

    });
  </script>

{% endblock js %}